:root {
  --primary-color: #0f9d58;
  --background-color: #f0f3f7;
  --secon-color: #9da2ad;
  --grey: #7a7a7b;
  --white: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

body,
html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  width: 100%;
  z-index: 99;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-wrap {
  width: 1366px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logo {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 2rem;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  margin-left: 1rem;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  color: var(--grey);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.menu-item:hover,
.menu-item.active {
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 1rem;
}

.cart-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.cart-btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 1rem;
}
/* common */

.fullheight {
  height: 100vh;
}
.primary-color {
  color: var(--primary-color);
}

.align-item-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-fixed {
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

section {
  padding: 9rem 0;
}
/* home */
#home .slogan {
  text-align: left;
}
#home .slogan h1 {
  font-size: 7rem;
  color: var(--primary-color);
}
#home .slogan button {
  padding: 1rem 5rem;
  margin: 3rem 0;
  outline: none;
  border: none;
  border: 2px solid var(--primary-color);
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--primary-color);
  transition: 0.7s;
}
#home .slogan button:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
/* about */
.fullwidth {
  width: 100%;
}
#about img {
  border-radius: 2rem;
  box-shadow: rgb(17 17 26 / 10%) 0px 8px 24px,
    rgb(17 17 26 / 10%) 0px 16px 56px, rgb(17 17 26 / 10%) 0px 24px 80px;
}
.about-slogan {
  transform: translateX(-10rem);
  background-color: var(--white);
  padding: 4rem;
  border-radius: 2rem;
}
.about-slogan h3 {
  color: var(--grey);
  font-size: 2rem;
  margin-bottom: 3rem;
}
.about-slogan span {
  color: var(--primary-color);
}
/* menu-food */
.food-menu {
  background-color: var(--white);
  border-radius: 2rem;
  padding: 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.food-menu h1 {
  color: var(--grey);
}
.food-menu p {
  margin: 2rem 0;
}

.food-category {
  text-align: left;
  display: flex;
}
.food-category button {
  padding: 0.5rem 2.5rem;
  margin: 0 1rem;
  outline: none;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3 ease-in-out;
  transition: 0.5s;
}
.food-category button:hover,
.food-category button.active {
  background-color: var(--primary-color);
  color: var(--white);
}

.food-item-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 3rem;
}

.food-item {
  width: 25%;
  height: 30rem;
  padding: 1rem;
}

.item-wrap {
  height: 100%;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 2rem;
}

.item-wrap:hover {
  box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px,
    rgb(14 30 37 / 32%) 0px 2px 16px 0px;
}

.item-img {
  height: 60%;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
}

.img-hoder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  border-radius: 2rem;
}

.img-hoder:hover {
  transform: scale(1.7) rotate(45deg); /*chuyển động xoáy*/
}
.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 1rem;
}
.item-info > div:first-child {
  text-align: left;
}
.item-info h3 {
  color: var(--grey);
}
/* testimonials */
.review-wrap {
  width: 100%;
  border-radius: 3rem;
  padding: 1rem;
  background-color: var(--white);
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.review-wrap.active {
  transform: scale(1.2) ;
}
.review-content {
  padding: 3rem;
  border-bottom: 2px solid var(--grey);
  position: relative;
  text-align: center;
}
.review-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 2rem;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.review-info {
  padding: 3rem;
  text-align: center;
}
.review-info .rating {
  margin-top: 2rem;
}
.review-info .rating i {
  color: var(--primary-color);
}
/* footer */
.footer [class*="col-"] {
  color: var(--white);
}
.footer [class*="col-"] h2 {
  color: var(--primary-color);
}
.input-group {
  width: 100%;
  border: 2px solid var(--primary-color);
  padding: 1rem;
  display: flex;
  border-radius: 2rem;
  justify-content: space-between;
  margin-top: 2rem;
}

.input-group input {
  flex: auto;
  background-color: transparent;
  outline: none;
  line-height: 100%;
  border-color: transparent;
  color: var(--primary-color);
}
.input-group button {
  padding: 0.4rem;
  border-radius: 2rem;
  background-color: var(--primary-color);
  color: var(--white);
  border-color: transparent;
  cursor: pointer;
}
.input-group button:active {
  opacity: 0.8;
}
.back-to-top {
  position: fixed;
  bottom: 70px;
  right: 70px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.5rem;
  z-index: 99;
  display: none;
}

.back-to-top i {
  font-size: 1.5rem;
}

.food-item-wrap > div {
  display: none;
}

.food-item-wrap.all > div {
  display: block;
}

.food-item-wrap.salad > div.salad-type {
  display: block;
}

.food-item-wrap.lorem > div.lorem-type {
  display: block;
}

.food-item-wrap.ipsum > div.ipsum-type {
  display: block;
}

.food-item-wrap.dolor > div.dolor-type {
  display: block;
}

/* GRID SYSTEM */

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*="col-"] {
  padding: 1rem;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.mb-nav {
  display: none;
}

@media (max-width: 1300px) {
  .nav {
    width: 100%;
  }
  .menu-wrap {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .nav {
    width: 100%;
  }
  .menu-wrap {
    width: 100%;
  }

  .about-slogan {
    transform: translateX(-5rem);
    padding: 2rem;
  }
  .food-menu {
    padding: 2rem;
  }

  .food-category {
    overflow-x: scroll;
  }
  .food-item {
    padding: 0.5rem;
  }
  .review-content {
    text-align: left;
    padding: 1rem;
    padding-bottom: 3rem;
  }

  .review-info {
    text-align: left;
    padding: 1rem;
    padding-top: 3rem;
  }

  .footer .col-2 {
    margin-left: 50px;
  }

  .m-0 {
    display: none;
  }

  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 13px;
  }

  h1 {
    font-size: 3rem !important;
  }

  span {
    font-size: inherit;
  }

  .back-to-top {
   
    bottom: 70px;
    right: 30px;
    
  }

  .cart-btn i {
    font-size: 2rem;
  }
  /* END MOBILE NAV */
  .mb-nav {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    z-index: 99;
    overflow: hidden;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  }
  .mb-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 25%;
    text-align: center;
  }

  .mb-nav-item a {
    font-size: 2rem;
    color: var(--secon-color);
    z-index: 2;
    transition: 0.5s ease-in-out;
    padding: 1rem 0;
  }
  .mb-nav-item.active {
    background-color: var(--primary-color);
  }

  .mb-nav-item.active i {
    color: var(--white);
  }
  .mb-nav-item i {
    font-size: 2rem;
  }
  .nav {
    width: 100%;
  }
  .menu-wrap {
    width: 100%;
  }
  .about {
    background-image: url(/src/freshfood/assets/image/nordwood-themes-pYWrdKO5ksI-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .about-slogan {
    transform: translateX(0);
  }
  .food-menu {
    padding: 1rem;
  }
  .food-category {
    overflow-x: scroll;
  }
  .text-center {
    text-align: center;
  }

  .review-wrap.active {
    transform: scale(1);
  }
  .col-xs-1 {
    width: 8.33%;
  }

  .col-xs-2 {
    width: 16.66%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.33%;
  }

  .col-xs-5 {
    width: 41.66%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.33%;
  }

  .col-xs-8 {
    width: 66.66%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.33%;
  }

  .col-xs-11 {
    width: 91.66%;
  }

  .col-xs-12 {
    width: 100%;
  }

  .h-xs {
    display: none;
  }
}
